@keyframes floating {
    0%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(20px) ;
    }
}
@keyframes zoom-in {
    from {
      transform: scale(1); /* Початковий масштаб 100% */
    }
    to {
      transform: scale(1.2); /* Збільшений масштаб, наприкінці анімації */
    }
  }
  