.logo-container {
  margin-left: 12.5%;
  margin-right: 10%;
  margin-top: 35px;
  margin-bottom: 25px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: left top;
  background-repeat: no-repeat;
  margin-block-start: 15px;
}
.organization {
  width: 32%;
  color: #848484;
  font-family: "Mulish", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
}
.footer__rectangle {
  width: 78%;
  height: 0.6px;
  flex-shrink: 0;
  background: #c4c4c4;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icons img {
  margin-right: 35px;
  padding-top: 35px;
  height: 22px;
}
@media screen and ( max-width: 780px){
  .title2{
    width: 60%;
  }
}
@media screen and ( max-width: 410px){
 .icons img{
  margin-bottom: 40px;
 }
 .logo-container{
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .organization{
  width: 100%;
 }
}

